:root {
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #404bbf;
  --logo-and-button-color: #4d5ae5;
  --dark-bg-color: #2e2f42;
  --footer-text-color: #e7e9fc;
}
/* utulities */
.link {
  text-decoration: none;
}
.item, .list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
 }

.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.logo-first {
  color: var(--logo-and-button-color);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-around;
}
.site-nav {
  display: flex;
  margin-left: 76px;
}
.main-nav  {
  display: flex;
  align-items: center;
}
/* all except first neighbor */
.addr-list .item + .item {
  margin-left: 40px;
}
.addr-list {
  display: flex;
  }
.addr-main {
  margin-left: auto;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}
.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  color: var(--title-text-color);
  }
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--accent-color);
}

.addr-link {
  font-style: normal;
  color: var(--primary-text-color);
}
.addr-link:hover,
.addr-link:focus {
  color: var(--accent-color);
}

/* section hero */
.section-hero {
  background-color: var(--dark-bg-color);
  text-align: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  
  color: var(--primary-white-color);
  padding-top: 0;
  padding-bottom: 48px;
}
.button-order {
  display: inline-block;
  background: var(--logo-and-button-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  
  text-align: center;
  color: var(--primary-white-color);
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

}
.button-order:hover,
.button-order:focus {
  background: var(--accent-color);
}
.pointer {
  cursor: pointer;
}
/* section two */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
 }
 .section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
 }
.future-list .title,
.teammate-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
  padding-bottom: 72px;
  padding-top: 120px;
}
/* section our team */
.our-team {
  background-color: var(--secondary-white-color);
}
/* footer */
.footer {
  background: var(--dark-bg-color);
}
.footer > p {
  color: var(--footer-text-color);
}
.logo-footer-end {
  color: var(--secondary-white-color);
}
/* portfolio.html */
.button-filter {
  background: var(--secondary-white-color);
  font-family: inherit;
  font-size: 16px;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--logo-and-button-color);
  
}
.button-filter:hover,
.button-filter:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);
    
}
.project-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-bg-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* container */
.container {
  width: 1158px;
  outline: 2px solid orange;
  padding: 0 15px; 
  margin: 0 auto;
}
/* resets */
ul {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}